<div style="margin: auto;width: 50%;
    		padding: 10px;">

<header style=" padding: 1em;
			    color: white;
    			background-color: blue;
    			clear: left;
    			text-align: center;"> Dear author, this is the time for a new entry rigth?
</header>   

<div><br>
	<br>
	<br>
	<form action="/entries" method="POST">
		<label for="   Title">    Title:</label>
		<input type="text" name="entry[title]"><br><br>
		<label for="Title"> Author:</label>
		<input type="text" name="entry[autor]"><br><br><br>
		<label for="Title"> content:</label>
		<input type="text" name="entry[content]"><br><br>
		<label for="Title"> Tags:</label>
		<input type="text" name="entry[tags]"><br><br><br><br>
		<label for="Title"> Likes:</label>
		<input type="text" name="entry[likes]"><br><br>
		<input type="submit" value="Create">
	</form>
</div>
</div>

    			

