
<div style="margin: auto;width: 50%;
    		
    		padding: 10px;">
<div > <img src="https://encrypted-tbn0.gstatic.com/	images?q=tbn:ANd9GcRoEDMzA7MeRD93TgRAYSnIfeXo6SwLvK1XOp2OXbvCxMSZYYEfpg"> 
	  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCjIWEkAHjDVLyND3Fw4oZzu1VLFiyGofQRwgl2O-rC6rPhlH_">
</div>
<br>
<div style="position: relative;"> <h1 style="color:blue;">Welcome to ROAD TRIP BLOG </h1>
	  <h3 style="color:blue;"> The place to dream on your next journey</h3>
</div>

<div>
	<a href="/entries" style="color:blue; 
	margin: auto;
	width: 50%; padding: 200px"> Welcome!</a>
</div>
</div>